/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display:flex;
  flex-direction: column;
  height: 100vh;
}

/* Apply a background color and padding to the entire body */
main {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  padding: 20px;
  height:100%;
}

/* The list of food items */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #e0e0e0;
}

.addbtn {
  background-color: #008a22;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.addbtn:hover {
  background-color: #005e1f;
}

.deletebtn{
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.deletebtn:hover{
  background-color: #960a0a;
}

button.add-food:hover {
  background-color: #45a049;
}

/* Input field for adding food items */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}
